.places {
    width: 100%;
    text-align:  center;
}
.places>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.places h1,
.places h2  {
    font-size: 30px;
    text-align: left;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
    text-align: left;
    position: relative;
}
.places article h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}
.price_by_night {
    color: #FF5A5F;
    border: 4px #FF5A5F solid;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    line-height: 60px;
    top: 0;
    right: 0;
    margin: 15px;
    text-align: center;
    padding: 7px;
}

.information {
    height: 80px;
    border-top: 1px #DDDDDD solid;
    border-bottom: 1px #DDDDDD solid;
    margin-bottom: 20px;
    text-align: center;
}

.information div {
    width: 100px;
    height: 90%;
    background-size: contain;
    display: inline-block;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-bottom: -7px;
}

.information div:last-child {
    margin-right: 0;
}


.max_guest div {
    background-image: url('../images/icon_group.png');
}
.number_rooms div {
    background-image: url('../images/icon_bed.png');
}
.number_bathrooms div {
    background-image: url('../images/icon_bath.png');
}
.max_guest {
  text-align: center;
}
/* .places>div div {
    dis
} */
.places .amenities h2,
.places .reviews h2 {
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 7px;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px #DDDDDD solid;
}

.places .amenities ul,
.places .reviews ul {
    list-style: none;
    padding-left: 0;
}

.places .amenities ul li {
    margin-bottom: 10px;
}

.places .amenities div.icon {
    width: 25px;
    height: 25px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-bottom: -7px;
    margin-right: 10px;
}

.places .amenities .tv div {
    background-image: url('../images/icon_tv.png');
}

.places .amenities .wifi div {
    background-image: url('../images/icon_wifi.png');
}

.places .amenities .pet div {
    background-image: url('../images/icon_pets.png');
}

.places .reviews ul li h3 {
    font-size: 14px;
    margin-bottom: 0;
}

.places .reviews ul li p {
    font-size: 12px;
    margin-top: 0;
}